<html>
        <body>
        <h1>
        Hello World from Django with my first template!
        </h1>
        <p>My name is: {{personal_name}} {{personal_lastname}}</p>
        <p>The time now is: {{current_time}}</p>
        <p><strong>Topics of the course:</strong></p>
        <p>
                <ul>
                {% if themes %}
                        {% for items in themes %}
                                <li>{{items}}</li>
                        {% endfor %}
                {% else %}
                        <p>There aren't items to show</p>
                {% endif %}
                </ul>
        </body>
</html>